/HelloWorld2019/out/production/HelloWorld2019/com/company/Main.class
/HelloWorld2019/JAVA/
/HelloWorld2019/.idea/description.html
/HelloWorld2019/.idea/encodings.xml
/HelloWorld2019/.idea/misc.xml
/HelloWorld2019/.idea/modules.xml
/HelloWorld2019/.idea/project-template.xml
/HelloWorld2019/.idea/vcs.xml
/HelloWorld2019/.idea/workspace.xml
/HelloWorld2019/HelloWorld2019.iml
